.header {
  display: flex;
  justify-content: space-between;
  align-items: center;


  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  width: 100%;
}

.search {
  /* display: flex;
  flex: 1;
  align-items: center;

  max-width: fit-content;
  padding: 10px;
  height: 30px;

  border: 1px solid lightgray;
  border-radius: 999px; */
  flex: 1;
  max-width: 600px;
  /* Adjust the max-width based on your design */
  margin: 0 auto;

  /* padding: 10px; */
  height: 40px;
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 999px;
}

.logo {
  object-fit: contain;

  height: 100px;
  margin-left: 20px;
}

.header>h1 {
  font-family: 'Alata', sans-serif;
  color: #f7b01e
}

.card-section {
  display: grid;
  /* flex-wrap: wrap; */
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 10px;
  padding: 30px;
  margin: 20px;
  margin-top: 0;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 60px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 100%;
  animation: l7 1s infinite linear;
  margin: auto;
}
@keyframes l7 {
    33%{background-size:calc(100%/3) 0%  ,calc(100%/3) 100%,calc(100%/3) 100%}
    50%{background-size:calc(100%/3) 100%,calc(100%/3) 0%  ,calc(100%/3) 100%}
    66%{background-size:calc(100%/3) 100%,calc(100%/3) 100%,calc(100%/3) 0%  }
}

@media only screen and (min-width: 600px) {
  .card-section {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 768px) {
  .card-section {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .card-section {
    grid-template-columns: repeat(3, 1fr);
  }
}