.UserDetail {
  margin: 20px;
}

.UserCard {
  flex: 1;
  flex-wrap: wrap;
  display: inline-block;
  /* width: 100%; */
  justify-content: center;
  padding: 40px;
  padding-top: 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-right: 20px;
  text-align: center;
  margin-left: 30px;
}

.UserCard>h1 {
  color: #f7b01e;
}

/* .BookingFormContainer {
  flex: 0 0 500px;

} */

.UserDetail-list {
  /* flex: 0 0 100%; */
  /* display: flex; */
  /* width: 100%; */
  display: flex;

}
